/* COMMON STYLE */
	/* DEFAULT */
		div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form { float: left; display: inline; margin:0; padding:0; height: auto; }
		body, input, select, textarea, a, th, td, caption, h1, h2, h3, h4, h5, h6  { font-family: gulim, 굴림, Helvetica; font-size: 12px; color: #000; font-weight: normal; letter-spacing: 0px; font-style: normal; text-decoration: none; }
		a:hover, a:active { text-decoration: underline; }
		img { border: none; }
		em { font-style: normal; }
		strong, b { letter-spacing:-1px; font-weight: bold; }
		a h1, a h2, a h3, a h4, a h5 { cursor: pointer; }
		select { height: 20px; }
		input.radio { width: 12px; height: 12px; margin: 0; padding: 0; }
		input.checkbox { width: 12px; height: 12px; margin: 0; padding: 0; }
		img.iconimg, .iconimg img { vertical-align: middle; border: none; margin-top: -4px; margin-bottom: -1px; }
	/* FREQUENT */
		.hidden { display: none; }
		.hide { text-indent: -1000em; }
		.iefix { width: 1px !important; height: 0px !important; _height: 1px !important; margin: -1px 0 0 0 !important; clear: both !important;; display: none !important; _display: inline !important; overflow: hidden !important; padding: 1px 0 0 0 !important; font-size: 1px !important; }

	/* 타이틀 */
		.db_title {width: 710px;margin-left:10px; margin-bottom: 15px; background: url('//static.inven.co.kr/image_2011/wow/common/layout9/bg_title_a.png') no-repeat 0 0; text-align: left; }
		.db_title p {height: 40px; padding: 0px 15px; color: #fff; font-size: 13px; font-weight: bold; line-height: 43px; margin: 0px; text-indent: 33px}

/* WRAPPING */
	/*왼쪽 메뉴 */
		.commonColorMark em {
			background-position: right center !important;
		}
		#wowBody .modern-menu {
		}

		#wowBody .modern-menu h3 {
			width: 171px;
			line-height: 37px;
			text-indent: 17px;
			margin-left: -6px;
			background-color: #f4f4f4;
			border-top:2px solid #4d4d4d;
			color: #4d4d4d;
			border-bottom:1px solid #d0d0d0;
		}
		#wowBody .modern-menu h3 p{ margin: 0px; }
		#wowBody .modern-menu h3 img{ margin-left: -18px; }
		#wowBody .modern-menu h3,
		#wowBody .modern-menu h3 a {
			font-family: "Noto Sans KR", "Noto Sans", sans-serif;
			font-size: 13px;
			text-decoration: none;
			display: block;
		}

		#wowBody .modern-menu a {
			color: inherit;
		}

		#wowBody .modern-menu ul li {
			display: block;
			color: #0d0d0d;
    		width: 159px;
    		overflow: hidden;
		}

		#wowBody .modern-menu ul li:last-of-type {
			border-bottom: none;
		}

		#wowBody .modern-menu ul li a {
			line-height: 32px;
			padding-left: 15px;
			display: block;
			text-decoration: none;
			font-family: 'NanumBarunGothic', sans-serif;
		}

		#wowBody .modern-menu ul.classicserverbbs,
		#wowBody .modern-menu ul.serverbbs,
		#wowBody .modern-menu ul.classicclassbbs,
		#wowBody .modern-menu ul.classbbs {
			margin-left: -7px;
			/*border-width: 0 1px 1px 0;*/
			border-style: solid;
			border-color: #1f0a07;
			width: 173px;
		}

		#wowBody .modern-menu ul.classicserverbbs li,
		#wowBody .modern-menu ul.serverbbs li,
		#wowBody .modern-menu ul.classicclassbbs li,
		#wowBody .modern-menu ul.classbbs li {
			display: block;
			border-width: 0px 0 0 1px;
			border-style: solid;
			border-color: #d0d0d0;
			box-sizing: border-box;
			background-color: #f4f4f4;
		}
		#wowBody .modern-menu ul.classicclassbbs li,
		#wowBody .modern-menu ul.classbbs li {
			width: 33.333%;
 		}
		#wowBody .modern-menu ul.classicserverbbs li,
		#wowBody .modern-menu ul.serverbbs li {
			width: 50%;
		}

		#wowBody .modern-menu ul.classicserverbbs li a,
		#wowBody .modern-menu ul.serverbbs li a,
		#wowBody .modern-menu ul.classicclassbbs li a,
		#wowBody .modern-menu ul.classbbs li a {
			padding: 0;
			text-align: center;
			border-width: 1px;
			border-style: solid;
			border-color: transparent;
			color: #666666;
			font-family:  gulim,'굴림';
		}

		#wowBody .modern-menu ul.classicserverbbs li a,
		#wowBody .modern-menu ul.serverbbs li a,
		#wowBody .modern-menu ul.classicclassbbs li a,
		#wowBody .modern-menu ul.classbbs li a{
		    border-bottom: 1px solid #d4d3e0;
		}

		#wowBody .modern-menu ul.classicserverbbs li a:hover,
		#wowBody .modern-menu ul.serverbbs li a:hover,
		#wowBody .modern-menu ul.classicclassbbs li a:hover,
		#wowBody .modern-menu ul.classbbs li a:hover {
			background-color: #4c4c4c;
			border: 1px solid #4c4c4c;
			box-sizing: border-box;
			color: #fff;
			/*font-weight: bold;*/
		}
		#wowBody .modern-menu ul.classicclassbbs li a:before,
		#wowBody .modern-menu ul.classbbs li a:before {
			content: '';
			display: inline-block;
			width: 18px;
			height: 18px;
			background-size: 18px 18px;
			border: 1px solid #927e73;
			border-radius: 3px;
			margin-right: 3px;
			margin-bottom: -6px;
		}
		#wowBody .modern-menu ul.classbbs li:nth-child(1) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_live_job1.png');
			background-color: #000;
		}
		#wowBody .modern-menu ul.classbbs li:nth-child(2) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_live_job2.png');
			background-color: #000;
		}
		#wowBody .modern-menu ul.classbbs li:nth-child(3) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_live_job3.png');
			background-color: #000;
		}
		#wowBody .modern-menu ul.classbbs li:nth-child(4) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_live_job4.png');
			background-color: #000;
		}
		#wowBody .modern-menu ul.classbbs li:nth-child(5) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_live_job5.png');
			background-color: #000;
		}
		#wowBody .modern-menu ul.classbbs li:nth-child(6) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_live_job6.png');
			background-color: #000;
		}
		#wowBody .modern-menu ul.classbbs li:nth-child(7) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_live_job7.png');
			background-color: #000;
		}
		#wowBody .modern-menu ul.classbbs li:nth-child(8) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_live_job8.png');
			background-color: #000;
		}
		#wowBody .modern-menu ul.classbbs li:nth-child(9) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_live_job9.png');
			background-color: #000;
		}
		#wowBody .modern-menu ul.classbbs li:nth-child(10) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_live_job10.png');
			background-color: #000;
		}
		#wowBody .modern-menu ul.classbbs li:nth-child(11) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_live_job11.png');
			background-color: #000;
		}
		#wowBody .modern-menu ul.classbbs li:nth-child(12) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_live_job12.png');
			background-color: #000;
		}

		#wowBody .modern-menu ul.classicclassbbs li:nth-child(1) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_classic_job1.jpg');
		}
		#wowBody .modern-menu ul.classicclassbbs li:nth-child(2) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_classic_job2.jpg');
		}
		#wowBody .modern-menu ul.classicclassbbs li:nth-child(3) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_classic_job3.jpg');
		}
		#wowBody .modern-menu ul.classicclassbbs li:nth-child(4) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_classic_job4.jpg');
		}
		#wowBody .modern-menu ul.classicclassbbs li:nth-child(5) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_classic_job5.jpg');
		}
		#wowBody .modern-menu ul.classicclassbbs li:nth-child(6) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_classic_job6.jpg');
		}
		#wowBody .modern-menu ul.classicclassbbs li:nth-child(7) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_classic_job8.jpg');
		}
		#wowBody .modern-menu ul.classicclassbbs li:nth-child(8) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_classic_job9.jpg');
		}
		#wowBody .modern-menu ul.classicclassbbs li:nth-child(9) a:before {
			background-image: url('//static.inven.co.kr/image_2011/wow/common/layout6/leftmenu_classic_job7.jpg');
		}



		/*#wowBody .modern-menu ul.classbbs{*/
		/*    margin: 0px 0px 0px -6px;*/
		/*}*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(1) a,*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(1){	background-position: 0px 0px; }*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(3) a,*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(3){	background-position: 0px -35px; }*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(5) a,*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(5){	background-position: 0px -70px; }*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(7) a,*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(7){	background-position: 0px -105px; }*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(9) a,*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(9){	background-position: 0px -140px; }*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(11) a,*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(11){	background-position: 0px -175px; }*/

		/*#wowBody .modern-menu ul.classbbs li:nth-child(2) a,*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(2){	background-position: -85px 0px; }*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(4) a,*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(4){	background-position: -85px -35px; }*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(6) a,*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(6){	background-position: -85px -70px; }*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(8) a,*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(8){	background-position: -85px -105px; }*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(10) a,*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(10){	background-position: -85px -140px; }*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(12) a,*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(12){	background-position: -85px -175px; }*/

		/*#wowBody .modern-menu ul.classbbs li a:hover{ border:none;	}*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(1) a:hover,*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(1):hover{  background-position: -172px 0px; }*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(3) a:hover,*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(3):hover{  background-position: -172px -35px; }*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(5) a:hover,*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(5):hover{	background-position: -172px -70px; }*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(7) a:hover,*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(7):hover{	background-position: -172px -105px; }*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(9) a:hover,*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(9):hover{	background-position: -172px -140px; }*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(11) a:hover,*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(11):hover{	background-position: -172px -175px; }*/

		/*#wowBody .modern-menu ul.classbbs li:nth-child(2) a:hover,*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(2):hover{	background-position: -257px 0px; }*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(4) a:hover,*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(4):hover{	background-position: -257px -35px; }*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(6) a:hover,*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(6):hover{	background-position: -257px -70px; }*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(8) a:hover,*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(8):hover{	background-position: -257px -105px; }*/
 		/*#wowBody .modern-menu ul.classbbs li:nth-child(10) a:hover,*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(10):hover{	background-position: -257px -140px; }*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(12) a:hover,*/
		/*#wowBody .modern-menu ul.classbbs li:nth-child(12):hover{	background-position: -257px -175px; }*/


		#wowBody .modern-install {
			width: 159px;
		}

		#wowBody .modern-install h3 {
			font-family: "Noto Sans KR", "Noto Sans", sans-serif;
			font-size: 13px;
			color: #5fb2f9;
			-webkit-font-smoothing: antialiased;
			-webkit-font-smoothing: subpixel-antialiased;
			-moz-osx-font-smoothing: grayscale;
			border-bottom: 1px solid #356994;
			line-height: 30px;
			text-indent: 5px;
		}

		#wowBody .modern-install a {
			color: inherit;
		}

		#wowBody .modern-install ul {
			font-size: 0;
			margin: 6px 0 10px 0;
		}

		#wowBody .modern-install ul li {
			display: inline-block;
			color: white;
			width: 50%;
			font-size: 12px;
		}

		#wowBody .modern-install ul li:last-of-type {
			border-bottom: none;
		}

		#wowBody .modern-install ul li span {
			display: block;
		}

		#wowBody .modern-install ul li a {
			display: block;
			text-decoration: none;
			margin: 0 2px;
		}

		#wowBody .modern-install ul li a {
			text-align: center;
			border: 1px solid #0f0f0f;
			line-height: 23px;
		}

		#wowBody .modern-install ul li a img {
			display: inline-block;
			vertical-align: middle;
		}

		#wowBody .modern-install ul li a.playstore {
			background-color: #97131a;
			background-image: linear-gradient(to bottom, #ad4349 5%, #97131a 5%, #5d0a0e);
		}

		#wowBody .modern-install ul li a.appstore {
			background-color: #5d5d5d;
			background-image: linear-gradient(to bottom, #7e7e7e 5%, #5d5d5d 5%, #3f3f3f);
		}

		#wowBody .modern-install ul li:first-of-type a {
			margin-left: 0;
		}

		#wowBody .modern-install ul li:last-of-type a {
			margin-right: 0;
		}

		#wowBody .modern-links li {
			display: block;
			margin: 7px 0 7px -1px;
		}

		#wowBody .modern-links li a.link-red {
			display: block;
			background-color: #770000;
			background-image: linear-gradient(to bottom, #dd6e5d 2%, #770000 2%, #770000);
		}

	/* 오른쪽 메뉴 */
		#wowBody .wrap167BL1 {
			clear: both;
			width: 167px;
			/*margin: 2px 2px;
			border: 1px solid #a8a8a8;*/
			overflow: hidden;
		}
		#wowBody .wrap167BL1 .w167H {
			clear: both;
			display: block;
			width: 167px;
			height: 33px;
			overflow: hidden;
			text-decoration: none;
		}
		#wowBody .wrap167BL1 .w167H_search {
			background-repeat: no-repeat;
			background-position: -756px 0px;
			color: transparent;
			font-size: 0;
		}
		#wowBody .wrap167BL1 .w167H_showhide {
			position: relative;
			line-height: 33px;
			text-indent: 8px;
		}
		#wowBody .wrap167BL1 .w167H_showhide .plIcon {
			position: absolute;
			top: 8px;
			right: 7px;
			margin: 0;
		}
		#wowBody .wrap167BL1 .w167M {
			clear: both;
			width: 167px;
			background: #fff;
			overflow: hidden;
		}
		#wowBody .wrap167BL1 .w167B {
			clear: both;
			width: 167px;
			overflow: hidden;
		}


/* TABLE*/
	/* TABLE TYPE 1~12 : common.css */
	/* TABLE TYPE 1 */
		#wowBody .tableType13 {
			overflow: hidden;
		}

		#wowBody .tableType13 table {
			table-layout: fixed;
			border-collapse: collapse;
			margin: -1px;
		}
		#wowBody .tableType13 table th,
		#wowBody .tableType13 table td {
			font-size: 12px;
			line-height: 15px;
			padding: 5px 0 3px;
			text-align: center;
			border: 1px solid #c6c6c6;
		}
		#wowBody .tableType13 table th,
		#wowBody .tableType13 table th a {
			vertical-align: top;
			font-weight: bold;
			letter-spacing: -1px;
			background-color: #f2f2f2;
			border-right: none;
		}
		#wowBody .tableType13 table td {
			background-color: #f2f2f2;
			border-left: none;
		}
		#wowBody .tableType13 table th,
		#wowBody .tableType13 table td,
		#wowBody .tableType13 table th a,
		#wowBody .tableType13 table td a {
			color: black;
		}
		#wowBody .tableType13 table th a:hover,
		#wowBody .tableType13 table td a:hover {
			color: #ff0000;
		}
		#wowBody .tableType13 table .left tr th,
		#wowBody .tableType13 table .left tr td,
		#wowBody .tableType13 table tr.left th,
		#wowBody .tableType13 table tr.left td,
		#wowBody .tableType13 table th.left,
		#wowBody .tableType13 table td.left {
			text-align: left;
			padding-left: 7px;
			padding-right: 0px;
		}
		#wowBody .tableType13 table tr.nopad th,
		#wowBody .tableType13 table tr.nopad td,
		#wowBody .tableType13 table th.nopad,
		#wowBody .tableType13 table td.nopad {
			padding: 1px 0 0;
		}
		#wowBody .tableType13 table tr.iconImg th,
		#wowBody .tableType13 table tr.iconImg td,
		#wowBody .tableType13 table th.iconImg,
		#wowBody .tableType13 table td.iconImg {
			padding-top: 8px;
		}
	/* TABLE TYPE 2 */
		#wowBody .tableType14 {
			overflow: hidden;
		}

		#wowBody .tableType14 table {
			table-layout: fixed;
			border-collapse: collapse;
			margin: 0 0 -1px;
		}
		#wowBody .tableType14 table th,
		#wowBody .tableType14 table td {
			font-size: 12px;
			line-height: 15px;
			padding: 8px 0 6px 7px;
			text-align: left;
		}
		#wowBody .tableType14 table th {
			padding: 10px 0 8px 7px;
		}
		#wowBody .tableType14 table th,
		#wowBody .tableType14 table td,
		#wowBody .tableType14 table th a,
		#wowBody .tableType14 table td a {
			color: black;
		}
		#wowBody .tableType14 table th {
			color: #777777;
			font-size: 11px;
			font-family: 돋움, dotum, 굴림, gulim, Helvetica;
			line-height: 14px;
			font-weight: bold;
			letter-spacing: -1px;
			background: #ececec;
		}
		#wowBody .tableType14 table td {
			border-bottom: 1px solid #dadada;
		}
		#wowBody .tableType14 table th a:hover,
		#wowBody .tableType14 table td a:hover {
			color: #ff2400;
		}
		#wowBody .tableType14 table .center tr th,
		#wowBody .tableType14 table .center tr td,
		#wowBody .tableType14 table tr.center th,
		#wowBody .tableType14 table tr.center td,
		#wowBody .tableType14 table th.center,
		#wowBody .tableType14 table td.center {
			text-align: center;
			padding-left: 0;
		}
/* BUTTON */
	/* BUTTON 164x26 GREEN 1 */
		#wowBody .bttn164GR1 {
			display: inline;
			float: left;
			width: 155px;
			_width: 164px;
			height: 20px;
			_height: 26px;
			overflow: hidden;
			color: white;
			font-size: 12px;
			line-height: 15px;
			font-weight: bold;
			letter-spacing: -1px;
			text-decoration: none;
			background: #0c5833 url('//static.inven.co.kr/image/wow/common3/bttn_164x26_green1.png') no-repeat left top;
			padding: 6px 0 0 9px;
		}
	/* BUTTON 55x40 BLUE 1 */
		#wowBody .bttn50BU1 {
			display: inline;
			float: left;
			width: 55px;
			height: 40px;
			overflow: hidden;
			text-indent: -10000em;
		}
		#wowBody .bttn50BU1-Text1 {
			background: url('//static.inven.co.kr/image_2011/wow/common/bttn_55x40_blue1_text1.png') no-repeat left top;
		}
	/* BUTTON 55x40 RED 1 */
		#wowBody .bttn50RE1 {
			display: inline;
			float: left;
			width: 55px;
			height: 40px;
			overflow: hidden;
			text-indent: -10000em;
		}
		#wowBody .bttn50RE1-Text1 {
			background: url('//static.inven.co.kr/image_2011/wow/common/bttn_55x40_red1_text1.png') no-repeat left top;
		}
	/* BUTTON 39x27 RED 1 */
		#wowBody .bttn39RE1 {
			display: inline;
			float: left;
			width: 39px;
			height: 20px;
			_height: 27px;
			overflow: hidden;
			color: #ffe400;
			font-weight: bold;
			letter-spacing: -1px;
			text-align: center;
			line-height: 15px;
			background: url('//static.inven.co.kr/image/wow/common3/bttn_39x27_red1.png') no-repeat left top;
			border: none;
			padding: 7px 0 0;
		}
		#wowBody a.bttn39RE1,
		#wowBody input.bttn39RE1 {
			cursor: pointer;
		}
		#wowBody input.bttn39RE1 {
			height: 27px;
			padding: 0;
		}
	/* BUTTON 36x18 BROWN 1 */
		#wowBody .bttn36BR1 {
			display: inline;
			float: left;
			width: 36px;
			height: 15px;
			_height: 18px;
			overflow: hidden;
			color: white;
			font-size: 11px;
			font-family: 돋움, dotum, 굴림, gulim, Helvetica;
			line-height: 14px;
			font-weight: bold;
			letter-spacing: -1px;
			text-decoration: none;
			background: url('//static.inven.co.kr/image/wow/common3/bttn_36x18_brown1.png') no-repeat left top;
			padding: 3px 0 0;
		}
		#wowBody a.bttn36BR1:hover {
			color: #ffe400;
			background-image: url('//static.inven.co.kr/image/wow/common3/bttn_36x18_black1.png');
		}
	/* BUTTON 36x18 ORANGE 1 */
		#wowBody .bttn36OR1 {
			display: inline;
			float: left;
			width: 36px;
			height: 15px;
			_height: 18px;
			overflow: hidden;
			color: white;
			font-size: 11px;
			font-family: 돋움, dotum, 굴림, gulim, Helvetica;
			line-height: 14px;
			font-weight: bold;
			letter-spacing: -1px;
			text-decoration: none;
			background: url('//static.inven.co.kr/image_2011/wow/dataninfo/bttn_36x18_orange1.png') no-repeat left top;
			padding: 3px 0 0;
		}
		#wowBody a.bttn36OR1:hover {
			color: #ffe400;
			background-image: url('//static.inven.co.kr/image/wow/common3/bttn_36x18_black1.png');
		}
	/* BUTTON 36x18 GREEN 1 */
		#wowBody .bttn36GR1 {
			display: inline;
			float: left;
			width: 36px;
			height: 15px;
			_height: 18px;
			overflow: hidden;
			color: white;
			font-size: 11px;
			font-family: 돋움, dotum, 굴림, gulim, Helvetica;
			line-height: 14px;
			font-weight: bold;
			letter-spacing: -1px;
			text-decoration: none;
			background: url('//static.inven.co.kr/image/wow/common3/bttn_36x18_green1.png') no-repeat left top;
			padding: 3px 0 0;
		}
		#wowBody a.bttn36GR1:hover {
			color: #ffe400;
			background-image: url('//static.inven.co.kr/image/wow/common3/bttn_36x18_black1.png');
		}
	/* BUTTON 36x18 GREEN 2 */
		#wowBody .bttn36GR2 {
			display: inline;
			float: left;
			width: 36px;
			height: 15px;
			_height: 18px;
			overflow: hidden;
			color: white;
			font-size: 11px;
			font-family: 돋움, dotum, 굴림, gulim, Helvetica;
			line-height: 14px;
			font-weight: bold;
			letter-spacing: -1px;
			text-decoration: none;
			background: url('//static.inven.co.kr/image_2011/wow/dataninfo/bttn_36x18_green2.png') no-repeat left top;
			padding: 3px 0 0;
		}
		#wowBody a.bttn36GR2:hover {
			color: #ffe400;
			background-image: url('//static.inven.co.kr/image/wow/common3/bttn_36x18_black1.png');
		}
	/* BUTTON 36x18 GREEN 2 */
		#wowBody .bttn36GR3 {
			display: inline;
			float: left;
			width: 36px;
			height: 15px;
			_height: 18px;
			overflow: hidden;
			color: white;
			font-size: 11px;
			font-family: 돋움, dotum, 굴림, gulim, Helvetica;
			line-height: 14px;
			font-weight: bold;
			letter-spacing: -1px;
			text-decoration: none;
			background: url('//static.inven.co.kr/image_2011/wow/common/bttn_36x18_green2.png') no-repeat left top;
			padding: 3px 0 0;
		}
		#wowBody a.bttn36GR2:hover {
			color: #ffe400;
			background-image: url('//static.inven.co.kr/image/wow/common3/bttn_36x18_black1.png');
		}
	/* BUTTON 36x18 GREEN 2 */
		#wowBody .bttn36RD1 {
			display: inline;
			float: left;
			width: 36px;
			height: 15px;
			_height: 18px;
			overflow: hidden;
			color: white;
			font-size: 11px;
			font-family: 돋움, dotum, 굴림, gulim, Helvetica;
			line-height: 14px;
			font-weight: bold;
			letter-spacing: -1px;
			text-decoration: none;
			background: url('//static.inven.co.kr/image_2011/wow/dataninfo5/bttn_36x18_red1.png') no-repeat left top;
			padding: 3px 0 0;
		}
		#wowBody a.bttn36RD1:hover {
			color: #ffe400;
			background-image: url('//static.inven.co.kr/image/wow/common3/bttn_36x18_black1.png');
		}

	/* BUTTON 36x18 BLUE 1 */
		#wowBody .bttn36BU1 {
			display: inline;
			float: left;
			width: 36px;
			height: 15px;
			_height: 18px;
			overflow: hidden;
			color: white;
			font-size: 11px;
			font-family: 돋움, dotum, 굴림, gulim, Helvetica;
			line-height: 14px;
			font-weight: bold;
			letter-spacing: -1px;
			text-decoration: none;
			background: url('//static.inven.co.kr/image/wow/common3/bttn_36x18_blue1.png') no-repeat left top;
			padding: 3px 0 0;
		}
		#wowBody a.bttn36BU1:hover {
			color: #ffe400;
			background-image: url('//static.inven.co.kr/image/wow/common3/bttn_36x18_black1.png');
		}
	/* BUTTON 36x18 RED 1 */
		#wowBody .bttn36RE1 {
			display: inline;
			float: left;
			width: 36px;
			height: 15px;
			_height: 18px;
			overflow: hidden;
			color: white;
			font-size: 11px;
			font-family: 돋움, dotum, 굴림, gulim, Helvetica;
			line-height: 14px;
			font-weight: bold;
			letter-spacing: -1px;
			text-decoration: none;
			background: url('//static.inven.co.kr/image/wow/common3/bttn_36x18_red1.png') no-repeat left top;
			padding: 3px 0 0;
		}
		#wowBody a.bttn36RE1:hover {
			color: #ffe400;
			background-image: url('//static.inven.co.kr/image/wow/common3/bttn_36x18_black1.png');
		}
	/* BUTTON 30x17 TEAL 1 */
		#wowBody .bttn29E1,
		#wowFloatmenu .bttn29TE1 {
			float: left;
			display: inline;
			width: 29px;
			height: 13px;
			_height: 17px;
			overflow: hidden;
			color: white;
			font-size: 11px;
			font-family: 돋움, dotum, 굴림, gulim, Helvetica;
			line-height: 14px;
			text-align: center;
			background: url('//static.inven.co.kr/image/wow/common2/bttn_30x17_teal1.gif') no-repeat left top;
			padding-top: 4px;
			text-decoration: none !important;
		}
	/* BUTTON 29x17 BLUE 1 */
		#wowBody .bttn29BU1,
		#wowFloatmenu .bttn29BU1 {
			float: left;
			display: inline;
			width: 29px;
			height: 13px;
			_height: 17px;
			overflow: hidden;
			color: white;
			font-size: 11px;
			font-family: 돋움, dotum, 굴림, gulim, Helvetica;
			line-height: 14px;
			text-align: center;
			background: url('//static.inven.co.kr/image/wow/common2/bttn_30x17_blue1.gif') no-repeat left top;
			padding-top: 4px;
			text-decoration: none !important;
		}


/* LIST */
	/* LIST TYPE 1 */
		#wowBody .listType1 {
			overflow: hidden;
		}
		#wowBody .listType1 ul li.nodotted {
			background: none;
		}
		#wowBody .listType1 ul li {
			clear: both;
			height: 15px;
			_height: 17px;
			/*overflow: hidden;*/
			white-space: nowrap;
			background: url('//static.inven.co.kr/image_2011/wow/common/icon_cross_brown1.png') no-repeat left center;
			margin: 5px 0 0;
			padding: 2px 0 0 11px;
		}
		#wowBody .listType1 ul li span a {
			color: #000;
			font-size: 12px;
			line-height: 15px;
		}
		#wowBody .listType1 ul li span a em.new1 {
			letter-spacing: -1px;
		}
	/* LIST TYPE 2 */
		#wowBody .listType2 {
			overflow: hidden;
		}
		#wowBody .listType2 ul {
			overflow: hidden;
			margin: 0 0 0 -1px;
		}
		#wowBody .listType2 ul li {
			height: 15px;
			overflow: hidden;
			line-height: 15px;
			white-space: nowrap;
			background: url('//static.inven.co.kr/image/wow/common3/sep_1x11_gray1.png') no-repeat left 1px;
			padding: 0 10px 0 11px;
		}
		#wowBody .listType2 ul li span a {
			color: white;
		}
		#wowBody .listType2 ul li span a:hover {
			color: #ff4e00;
			font-weight: bold;
			letter-spacing: -1px;
			_margin-left: -1px;
		}
	/* LIST TYPE 3 */
		#wowBody .listType3 {
			overflow: hidden;
		}
		#wowBody .listType3 ul {
			overflow: hidden;
			margin: 0 0 0 -1px;
		}
		#wowBody .listType3 ul li {
			height: 15px;
			overflow: hidden;
			line-height: 15px;
			white-space: nowrap;
			background: url('//static.inven.co.kr/image/wow/common3/sep_1x12_brown1.png') no-repeat left 1px;
			padding: 0 10px 0 11px;
		}
		#wowBody .listType3 ul li span a {
			color: #726850;
		}
		#wowBody .listType3 ul li span a:hover {
			color: black;
			font-weight: bold;
			letter-spacing: -1px;
			_margin-left: -1px;
		}
	/* LIST TYPE 4 */
		#wowBody .listType4 {
			overflow: hidden;
		}
		#wowBody .listType4 ul {
			overflow: hidden;
			margin: 0 0 0 -1px;
		}
		#wowBody .listType4 ul li {
			height: 15px;
			overflow: hidden;
			line-height: 15px;
			white-space: nowrap;
			background: url('//static.inven.co.kr/image/wow/common3/sep_1x12_pink1.png') no-repeat left 1px;
			padding: 0 9px 0 10px;
		}
		#wowBody .listType4 ul li.nopadright { padding-right: 0px;}
		#wowBody .listType4 ul li span a {
			color: #895d44;
		}
		#wowBody .listType4 ul li span a:hover {
			color: black;
			font-weight: bold;
			letter-spacing: -1px;
			_margin-left: -1px;
		}
	/* LIST TYPE 6 */
		#wowBody .listType6 {
			clear: both;
			overflow: hidden;
		}
		#wowBody .listType6 ul {
			clear: both;
			margin: 0 0 -1px -1px;
		}
		#wowBody .listType6 ul li {
			height: 17px;
			_height: 25px;
			background: url('//static.inven.co.kr/image/wow/common3/dot_4x1_caf775c.png') repeat-x left bottom;
			padding: 3px 0 5px;
		}
		#wowBody .listType6 ul li > span {
			display: inline;
			float: left;
			white-space: nowrap;
			background: url('//static.inven.co.kr/image/wow/common3/sep_1x7_brown1.png') no-repeat left center;
			padding: 2px 0 0 10px;
		}
		#wowBody .listType6 ul li span,
		#wowBody .listType6 ul li span a {
			color: black;
			font-size: 12px;
			line-height: 15px;
			font-weight: bold;
			letter-spacing: -1px;
		}
		#wowBody .listType6 ul li span a:hover,
		#wowBody .listType6 ul li span a:hover span {
			color: #ff0000;
		}
		#wowBody .listType6 ul li span a.notready {
			color: gray;
			cursor: text;
			text-decoration: none;
		}
		#wowBody .listType6 ul li span a span {
			font-weight: normal;
		}
	/* LIST TYPE 7 */
		#wowBody .listType7 {
			clear: both;
			overflow: hidden;
		}
		#wowBody .listType7 ul {
			clear: both;
			margin: 0 0 -1px -1px;
		}
		#wowBody .listType7 ul li {
			height: 17px;
			_height: 25px;
			background: url('//static.inven.co.kr/image/wow/common3/dot_4x1_c83ad92.png') repeat-x left bottom;
			padding: 3px 0 5px;
		}
		#wowBody .listType7 ul li span {
			display: inline;
			float: left;
			white-space: nowrap;
			background: url('//static.inven.co.kr/image/wow/common3/sep_1x7_green1.png') no-repeat left center;
			padding: 2px 0 0 10px;
		}
		#wowBody .listType7 ul li span,
		#wowBody .listType7 ul li span a {
			color: black;
			font-size: 12px;
			line-height: 15px;
			font-weight: bold;
			letter-spacing: -1px;
		}
		#wowBody .listType7 ul li span a:hover {
			color: #ff0000;
		}
		#wowBody .listType7 ul li span a.notready {
			color: gray;
			cursor: text;
			text-decoration: none;
		}
	/* LIST TYPE 8 */
		#wowBody .listType8 {
			clear: both;
			overflow: hidden;
		}
		#wowBody .listType8 ul {
			clear: both;
			margin: 0 0 -1px -1px;
		}
		#wowBody .listType8 ul li {
			height: 17px;
			_height: 23px;
			background: url('//static.inven.co.kr/image/wow/common3/dot_4x1_c6987a7.png') repeat-x left bottom;
			padding: 3px 0 5px;
		}
		#wowBody .listType8 ul li span {
			display: inline;
			float: left;
			white-space: nowrap;
			background: url('//static.inven.co.kr/image/wow/common3/sep_1x7_blue1.png') no-repeat left center;
			padding: 2px 0 0 10px;
		}
		#wowBody .listType8 ul li span,
		#wowBody .listType8 ul li span a {
			color: black;
			font-size: 12px;
			line-height: 15px;
			font-weight: bold;
			letter-spacing: -1px;
		}
		#webzineBody .listType8 ul li span {
			float: none !important;
			background: none !important;
			font-weight: normal !important;
			letter-spacing: 0 !important;
			padding: 0 !important;
		}
		#wowBody .listType8 ul li span a:hover {
			color: #ff0000;
		}
		#wowBody .listType8 ul li span a.notready {
			color: gray;
			cursor: text;
			text-decoration: none;
		}
	/* LIST TYPE 9 */
		#wowBody .listType9 {
			clear: both;
			overflow: hidden;
		}
		#wowBody .listType9 ul {
			clear: both;
			margin: 0 0 -1px -1px;
		}
		#wowBody .listType9 ul li {
			height: 17px;
			_height: 25px;
			background: url('//static.inven.co.kr/image/wow/common3/dot_4x1_ca78969.png') repeat-x left bottom;
			padding: 3px 0 5px;
		}
		#wowBody .listType9 ul li span {
			display: inline;
			float: left;
			white-space: nowrap;
			background: url('//static.inven.co.kr/image/wow/common3/sep_1x7_red1.png') no-repeat left center;
			padding: 2px 0 0 10px;
		}
		#wowBody .listType9 ul li span,
		#wowBody .listType9 ul li span a {
			color: black;
			font-size: 12px;
			line-height: 15px;
			font-weight: bold;
			letter-spacing: -1px;
		}
		#wowBody .listType9 ul li span a:hover {
			color: #ff0000;
		}
		#wowBody .listType9 ul li span a.notready {
			color: gray;
			cursor: text;
			text-decoration: none;
		}
	/* LIST TYPE 10 */
		#wowBody .listType10 {
			overflow: hidden;
		}
		#wowBody .listType10 ul li {
			clear: both;
			height: 15px;
			_height: 17px;
			overflow: hidden;
			white-space: nowrap;
			background: url('//static.inven.co.kr/image/wow/common3/icon_rect_gray2.png') no-repeat left center;
			margin: 4px 0 0;
			padding: 2px 0 0 7px;
		}
		#wowBody .listType10 ul li span a {
			color: #ebf4ff;
			font-size: 12px;
			line-height: 15px;
		}
		#wowBody .listType10 ul li span a:hover {
			color: #fec214;
		}
	/* LIST TYPE 11 */
		#wowBody .listType11 {
			overflow: hidden;
		}
		#wowBody .listType11 ul li {
			clear: both;
			height: 15px;
			_height: 17px;
			overflow: hidden;
			white-space: nowrap;
			background: url('//static.inven.co.kr/image/wow/common3/icon_rect_brown2.png') no-repeat left center;
			margin: 4px 0 0;
			padding: 2px 0 0 7px;
		}
		#wowBody .listType11 ul li span a {
			color: #ebe4c6;
			font-size: 12px;
			line-height: 15px;
		}
		#wowBody .listType11 ul li span a:hover {
			color: #fec214;
		}
	/* LIST TYPE 12 */
		#wowBody .listType12 ul li {
			clear: both;
			height: 15px;
			_height: 21px;
			overflow: hidden;
			white-space: nowrap;
			background: url('//static.inven.co.kr/image_2011/wow/common/icon_rect_blue1.png') no-repeat left center;
			padding: 4px 0 2px 10px;
		}
/* TABLE*/
	/* TABLE TYPE 1~12 : common.css */
	/* TABLE TYPE 1 */
		#wowBody .tableType13 {
			overflow: hidden;
		}

		#wowBody .tableType13 table {
			table-layout: fixed;
			border-collapse: collapse;
			margin: -1px;
		}
		#wowBody .tableType13 table th,
		#wowBody .tableType13 table td {
			font-size: 12px;
			line-height: 15px;
			padding: 5px 0 3px;
			text-align: center;
			border: 1px solid #c6c6c6;
		}
		#wowBody .tableType13 table th,
		#wowBody .tableType13 table th a {
			vertical-align: top;
			font-weight: bold;
			letter-spacing: -1px;
			background-color: #f2f2f2;
			border-right: none;
		}
		#wowBody .tableType13 table td {
			background-color: #f2f2f2;
			border-left: none;
		}
		#wowBody .tableType13 table th,
		#wowBody .tableType13 table td,
		#wowBody .tableType13 table th a,
		#wowBody .tableType13 table td a {
			color: black;
		}
		#wowBody .tableType13 table th a:hover,
		#wowBody .tableType13 table td a:hover {
			color: #ff0000;
		}
		#wowBody .tableType13 table .left tr th,
		#wowBody .tableType13 table .left tr td,
		#wowBody .tableType13 table tr.left th,
		#wowBody .tableType13 table tr.left td,
		#wowBody .tableType13 table th.left,
		#wowBody .tableType13 table td.left {
			text-align: left;
			padding-left: 7px;
			padding-right: 0px;
		}
		#wowBody .tableType13 table tr.nopad th,
		#wowBody .tableType13 table tr.nopad td,
		#wowBody .tableType13 table th.nopad,
		#wowBody .tableType13 table td.nopad {
			padding: 1px 0 0;
		}
		#wowBody .tableType13 table tr.iconImg th,
		#wowBody .tableType13 table tr.iconImg td,
		#wowBody .tableType13 table th.iconImg,
		#wowBody .tableType13 table td.iconImg {
			padding-top: 8px;
		}
	/* TABLE TYPE 2 */
		#wowBody .tableType14 {
			overflow: hidden;
		}

		#wowBody .tableType14 table {
			table-layout: fixed;
			border-collapse: collapse;
			margin: 0 0 -1px;
		}
		#wowBody .tableType14 table th,
		#wowBody .tableType14 table td {
			font-size: 12px;
			line-height: 15px;
			padding: 8px 0 6px 7px;
			text-align: left;
		}
		#wowBody .tableType14 table th {
			padding: 10px 0 8px 7px;
		}
		#wowBody .tableType14 table th,
		#wowBody .tableType14 table td,
		#wowBody .tableType14 table th a,
		#wowBody .tableType14 table td a {
			color: black;
		}
		#wowBody .tableType14 table th {
			color: #777777;
			font-size: 11px;
			font-family: 돋움, dotum, 굴림, gulim, Helvetica;
			line-height: 14px;
			font-weight: bold;
			letter-spacing: -1px;
			background: #ececec;
		}
		#wowBody .tableType14 table td {
			border-bottom: 1px solid #dadada;
		}
		#wowBody .tableType14 table th a:hover,
		#wowBody .tableType14 table td a:hover {
			color: #ff2400;
		}
		#wowBody .tableType14 table .center tr th,
		#wowBody .tableType14 table .center tr td,
		#wowBody .tableType14 table tr.center th,
		#wowBody .tableType14 table tr.center td,
		#wowBody .tableType14 table th.center,
		#wowBody .tableType14 table td.center {
			text-align: center;
			padding-left: 0;
		}
/* WRAPPING */
	/* WRAPPING 710 BROWN 1 : common.css */
	/* WRAPPING 710 BROWN 2 : common.css  */
	/* WRAPPING 710 BROWN 3 */
		#wowBody .wrap710BR3 {
			width: 710px;
			overflow: hidden;
		}
		#wowBody .wrap710BR3 .w710H {
			display: inline;
			float: left;
			clear: both;
			width: 710px;
			height: 45px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_710_brown1_head_info.png') no-repeat left top;
		}
		#wowBody .wrap710BR3 .w710M {
			clear: both;
			width: 710px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_710_brown1_mid.png') repeat-y left top;
		}
		#wowBody .wrap710BR3 .w710B {
			clear: both;
			width: 710px;
			height: 7px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_710_brown1_bot.png') no-repeat left top;
		}
	/* WRAPPING 710 WHITE 1 */
		#wowBody .wrap710WH1 {
			width: 710px;
			overflow: hidden;
		}
		#wowBody .wrap710WH1 .w710H {
			clear: both;
			display: inline;
			float: left;
			width: 710px;
			height: 34px;
			overflow: hidden;
			text-indent: -10000em;
		}
		#wowBody .wrap710WH1 .w710H-Text1 {
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_710_white1_head_text1.png') no-repeat left top;
		}
		#wowBody .wrap710WH1 .w710H-Text2 {
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_710_white1_head_text2.png') no-repeat left top;
		}
		#wowBody .wrap710WH1 .w710M {
			clear: both;
			width: 710px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_710_white1_mid.png') repeat-y left top;
		}
		#wowBody .wrap710WH1 .w710B {
			clear: both;
			width: 710px;
			height: 1px;
			overflow: hidden;
			background: #a9a9a9;
		}
	/* WRAPPING 633 WHITE 1 */
		#wowBody .wrap633WH1 {
			width: 633px;
			overflow: hidden;
		}
		#wowBody .wrap633WH1 .w633T {
			clear: both;
			width: 633px;
			height: 2px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image/wow/common3/wrap_633_white1_top.png') no-repeat left top;
		}
		#wowBody .wrap633WH1 .w633M {
			clear: both;
			width: 633px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image/wow/common3/wrap_633_white1_mid.png') repeat-y left top;
		}
		#wowBody .wrap633WH1 .w633B {
			display: none;
		}
	/* WRAPPING 621 GRAY 1 */
		#wowBody .wrap621GR1 {
			width: 621px;
			overflow: hidden;
		}
		#wowBody .wrap621GR1 .w621T {
			clear: both;
			width: 621px;
			height: 16px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image/wow/common3/wrap_621_gray1_top.png') no-repeat left top;
		}
		#wowBody .wrap621GR1 .w621M {
			clear: both;
			width: 621px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image/wow/common3/wrap_621_gray1_mid.png') repeat-y left top;
		}
		#wowBody .wrap621GR1 .w621B {
			width: 621px;
			height: 2px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image/wow/common3/wrap_621_gray1_bot.png') no-repeat left top;
		}
	/* WRAPPING 621 BROWN 1 */
		#wowBody .wrap621BR1 {
			width: 621px;
			overflow: hidden;
		}
		#wowBody .wrap621BR1 .w621H {
			clear: both;
			display:inline;
			float: left;
			width: 621px;
			height: 41px;
			overflow: hidden;
		}
		#wowBody .wrap621BR1 .w621H-ConfirmArticle {
			text-indent: -10000em;
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_621_brown1_head_confirmarticle2.png') no-repeat left top;
		}
		#wowBody .wrap621BR1 .w621M {
			clear: both;
			width: 621px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image/wow/common3/wrap_621_brown1_mid.png') repeat-y left top;
		}
		#wowBody .wrap621BR1 .w621B {
			width: 621px;
			height: 2px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image/wow/common3/wrap_621_brown1_bot.png') no-repeat left top;
		}
	/* WRAPPING 621 RED 1 */
		#wowBody .wrap621RE1 {
			width: 621px;
			overflow: hidden;
		}
		#wowBody .wrap621RE1 .w621H {
			clear: both;
			width: 621px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_621_red1_head_todayfocus.png') no-repeat left top;
		}
		#wowBody .wrap621RE1 .w621M {
			clear: both;
			width: 621px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image/wow/common3/wrap_621_red1_mid.png') repeat-y left top;
		}
		#wowBody .wrap621RE1 .w621B {
			width: 621px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_621_red1_bot.png') no-repeat left bottom;
		}

	/* WRAPPING 621 YELLOW 1 */
		#wowBody .wrap621YE1 {
			width: 621px;
			overflow: hidden;
		}
		#wowBody .wrap621YE1 .w621H {
			clear: both;
			width: 621px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_621_brown1_top_funfun.png') no-repeat left top;
		}
		#wowBody .wrap621YE1 .w621M {
			clear: both;
			width: 621px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_621_brown1_mid_funfun.png') repeat-y left top;
		}
		#wowBody .wrap621YE1 .w621B {
			width: 621px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_621_brown1_bot_funfun.png') no-repeat left bottom;
		}


	/* WRAPPING 510 BROWN 1 */
		#wowBody .wrap510BR1 {
			width: 510px;
			overflow: hidden;
		}
		#wowBody .wrap510BR1 .w510H {
			clear: both;
			width: 498px;
			_width: 510px;
			height: 20px;
			_height: 27px;
			overflow: hidden;
			color: #2c1c00;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: -1px;
			line-height: 15px;
			background: #e3d1b1 url('//static.inven.co.kr/image/wow/common3/wrap_510_brown1_head.png') no-repeat left top;
			padding: 7px 0 0 12px;
		}
		#wowBody .wrap510BR1 .w510H-Raid {
			text-indent: -10000em;
			background-image: url('//static.inven.co.kr/image/wow/common3/wrap_510_brown1_head_raid.png');
		}
		#wowBody .wrap510BR1 .w510H-Party {
			text-indent: -10000em;
			background-image: url('//static.inven.co.kr/image/wow/common3/wrap_510_brown1_head_party.png');
		}
		#wowBody .wrap510BR1 .w510H-Quest span {
			color: #cc0000;
		}
		#wowBody .wrap510BR1 .w510H-Quest span.blue {
			color: darkblue;
		}
		#wowBody .wrap510BR1 .w510M {
			clear: both;
			width: 510px;
			overflow: hidden;
			background: #ececec url('//static.inven.co.kr/image/wow/common3/wrap_510_brown1_mid.png') repeat-y left top;
		}
		#wowBody .wrap510BR1 .w510B {
			clear: both;
			width: 510px;
			height: 1px;
			overflow: hidden;
			background: #5e341e;
		}
	/* WRAPPING 510 GREEN 1 */
		#wowBody .wrap510GR1 {
			width: 510px;
			overflow: hidden;
		}
		#wowBody .wrap510GR1 .w510H {
			clear: both;
			width: 498px;
			_width: 510px;
			height: 20px;
			_height: 27px;
			overflow: hidden;
			color: #2c1c00;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: -1px;
			line-height: 15px;
			background: #bcd1cc url('//static.inven.co.kr/image/wow/common3/wrap_510_green1_head.png') no-repeat left top;
			padding: 7px 0 0 12px;
		}
		#wowBody .wrap510GR1 .w510H-Raid {
			text-indent: -10000em;
			background-image: url('//static.inven.co.kr/image/wow/common3/wrap_510_green1_head_raid.png');
		}
		#wowBody .wrap510GR1 .w510H-Party {
			text-indent: -10000em;
			background-image: url('//static.inven.co.kr/image/wow/common3/wrap_510_green1_head_party.png');
		}
		#wowBody .wrap510GR1 .w510M {
			clear: both;
			width: 510px;
			overflow: hidden;
			background: #ececec url('//static.inven.co.kr/image/wow/common3/wrap_510_green1_mid.png') repeat-y left top;
		}
		#wowBody .wrap510GR1 .w510B {
			clear: both;
			width: 510px;
			height: 1px;
			overflow: hidden;
			background: #1f0110;
		}
	/* WRAPPING 510 ORANGE 1 */
		#wowBody .wrap510OR1 {
			width: 510px;
			overflow: hidden;
		}
		#wowBody .wrap510OR1 .w510H {
			clear: both;
			width: 498px;
			_width: 510px;
			height: 20px;
			_height: 27px;
			overflow: hidden;
			color: #2c1c00;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: -1px;
			line-height: 15px;
			padding: 7px 0 0 12px;
		}
		#wowBody .wrap510OR1 .w510H-Raid {
			text-indent: -10000em;
			background-image: url('//static.inven.co.kr/image_2011/wow/dataninfo/wrap_510_orange1_head_raid.png');
		}
		#wowBody .wrap510OR1 .w510H-Party {
			text-indent: -10000em;
			background-image: url('//static.inven.co.kr/image_2011/wow/dataninfo/wrap_510_orange1_head_party.png');
		}
		#wowBody .wrap510OR1 .w510M {
			clear: both;
			width: 510px;
			overflow: hidden;
			background-image: url('//static.inven.co.kr/image_2011/wow/dataninfo/wrap_510_orange1_mid.png');
		}
		#wowBody .wrap510OR1 .w510B {
			clear: both;
			width: 510px;
			height: 1px;
			overflow: hidden;
			background: #460800;
		}


	/* WRAPPING 510 GREEN 2 */
		#wowBody .wrap510GR2 {
			width: 510px;
			overflow: hidden;
		}
		#wowBody .wrap510GR2 .w510H {
			clear: both;
			width: 498px;
			_width: 510px;
			height: 20px;
			_height: 27px;
			overflow: hidden;
			color: #2c1c00;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: -1px;
			line-height: 15px;
			padding: 7px 0 0 12px;
		}
		#wowBody .wrap510GR2 .w510H-Raid {
			text-indent: -10000em;
			background-image: url('//static.inven.co.kr/image_2011/wow/dataninfo/wrap_510_green2_head_raid.png');
		}
		#wowBody .wrap510GR2 .w510H-Party {
			text-indent: -10000em;
			background-image: url('//static.inven.co.kr/image_2011/wow/dataninfo/wrap_510_green2_head_party.png');
		}
		#wowBody .wrap510GR2 .w510M {
			clear: both;
			width: 510px;
			overflow: hidden;
			background-image: url('//static.inven.co.kr/image_2011/wow/dataninfo/wrap_510_green2_mid.png');
		}
		#wowBody .wrap510GR2 .w510B {
			clear: both;
			width: 510px;
			height: 1px;
			overflow: hidden;
			background: #0b7047;
		}
	/* WRAPPING 510 BLUE 1 */
		#wowBody .wrap510GBU1 {
			width: 510px;
			overflow: hidden;
		}
		#wowBody .wrap510GBU1 .w510H {
			clear: both;
			width: 498px;
			_width: 510px;
			height: 20px;
			_height: 27px;
			overflow: hidden;
			color: #2c1c00;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: -1px;
			line-height: 15px;
			background: #c4d2e3 url('//static.inven.co.kr/image/wow/common3/wrap_510_blue1_head.png') no-repeat left top;
			padding: 7px 0 0 12px;
		}
		#wowBody .wrap510GBU1 .w510H-Raid {
			text-indent: -10000em;
			background-image: url('//static.inven.co.kr/image/wow/common3/wrap_510_blue1_head_raid.png');
		}
		#wowBody .wrap510GBU1 .w510H-Party {
			text-indent: -10000em;
			background-image: url('//static.inven.co.kr/image/wow/common3/wrap_510_blue1_head_party.png');
		}
		#wowBody .wrap510GBU1 .w510M {
			clear: both;
			width: 510px;
			overflow: hidden;
			background: #ececec url('//static.inven.co.kr/image/wow/common3/wrap_510_blue1_mid.png') repeat-y left top;
		}
		#wowBody .wrap510GBU1 .w510B {
			clear: both;
			width: 510px;
			height: 1px;
			overflow: hidden;
			background: #1f0110;
		}
	/* WRAPPING 510 RED 1 */
		#wowBody .wrap510GRE1 {
			width: 510px;
			overflow: hidden;
		}
		#wowBody .wrap510GRE1 .w510H {
			clear: both;
			width: 498px;
			_width: 510px;
			height: 20px;
			_height: 27px;
			overflow: hidden;
			color: #2c1c00;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: -1px;
			line-height: 15px;
			background: #e3d5c4 url('//static.inven.co.kr/image/wow/common3/wrap_510_red1_head.png') no-repeat left top;
			padding: 7px 0 0 12px;
		}
		#wowBody .wrap510GRE1 .w510H-Raid {
			text-indent: -10000em;
			background-image: url('//static.inven.co.kr/image/wow/common3/wrap_510_red1_head_raid.png');
		}
		#wowBody .wrap510GRE1 .w510H-Party {
			text-indent: -10000em;
			background-image: url('//static.inven.co.kr/image/wow/common3/wrap_510_red1_head_party.png');
		}
		#wowBody .wrap510GRE1 .w510M {
			clear: both;
			width: 510px;
			overflow: hidden;
			background: #ececec url('//static.inven.co.kr/image/wow/common3/wrap_510_red1_mid.png') repeat-y left top;
		}
		#wowBody .wrap510GRE1 .w510B {
			clear: both;
			width: 510px;
			height: 1px;
			overflow: hidden;
			background: #1f0110;
		}
	/* WRAPPING 349 GRAY 1 */
		#wowBody .wrap349GR1 {
			width: 349px;
			overflow: hidden;
		}
		#wowBody .wrap349GR1 .w349T,
		#wowBody .wrap349GR1 .w349B {
			clear: both;
			width: 349px;
			height: 1px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_349_gray1_top.png') no-repeat left top;
		}
		#wowBody .wrap349GR1 .w349M {
			clear: both;
			width: 349px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_349_gray1_mid.png') repeat-y left top;
		}
	/* WRAPPING 308 BROWN 1 */
		#wowBody .wrap308BR1 {
			overflow: hidden;
		}
		#wowBody .wrap308BR1 .w308H {
			clear: both;
			display: inline;
			float: left;
			width: 278px;
			_width: 308px;
			height: 25px;
			_height: 35px;
			overflow: hidden;
			color: white;
			font-size: 12px;
			line-height: 15px;
			font-weight: bold;
			letter-spacing: -1px;
			cursor: default;
			text-decoration: none;
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_308_brown1_head.png') no-repeat left top;
			padding: 10px 0 0 30px;
		}
		#wowBody .wrap308BR1 a.w308H {
			cursor: pointer;
			background-position: left -35px;
		}
		#wowBody .wrap308BR1 .w308M {
			clear: both;
			width: 308px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image/wow/common3/wrap_308_brown1_mid.png') repeat-y left top;
		}
		#wowBody .wrap308BR1 .w308B {
			clear: both;
			width: 308px;
			height: 2px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image/wow/common3/wrap_308_brown1_bot.png') no-repeat left top;
		}
	/* WRAPPING 261 ORANGE 1 */
		#wowBody .wrap261OR1 {
			width: 261px;
		}
		#wowBody .wrap261OR1 .w261H {
			clear: both;
			display: inline;
			float: left;
			width: 261px;
			height: 37px;
			overflow: hidden;
			text-indent: -10000em;
		}
		#wowBody .wrap261OR1 .w261H-Text1 {
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_261_orange1_head_text1.png') no-repeat left top;
		}
		#wowBody .wrap261OR1 .w261M {
			clear: both;
			width: 261px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_261_orange1_mid.png') repeat-y left top;
		}
		#wowBody .wrap261OR1 .w261B {
			clear: both;
			width: 261px;
			height: 5px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image_2011/wow/common/wrap_261_orange1_bot.png') no-repeat left top;
		}

		/* WRAPPING 167 OLIVE 1 */
		#wowBody .wrap167OL1 {
			width: 167px;
			overflow: hidden;
		}
		#wowBody .wrap167OL1 .w167H {
			clear: both;
			width: 167px;
			height: 33px;
			overflow: hidden;
		}
		#wowBody .wrap167OL1 .w167H-Wowinfo {
			text-indent: -10000em;
			background: url('//static.inven.co.kr/image/wow/common3/wrap_167_olive1_head_wowinfo.png') no-repeat left top;
		}
		#wowBody .wrap167OL1 .w167M {
			clear: both;
			width: 167px;
			overflow: hidden;
			background: url('//static.inven.co.kr/image/wow/common3/wrap_167_olive1_mid.png') repeat-y left top;
		}
		#wowBody .wrap167OL1 .w167B {
			clear: both;
			width: 167px;
			height: 1px;
			overflow: hidden;
			background: #342804;
		}

		#wowMain .section.searchBar .searchBttn { background-image: url(//static.inven.co.kr/image_2011/lostark/common/bttn_67x25_blue1_search.png) !important; }